{% extends "blog/base.html" %}

{% block content %}

    <section class="site-section">
      <div class="container col align-self-center">
        <div class="row mb-5">
          {% for article in posts %}
              <div class="shadow-sm col-4 mb-5 px-4 py-5 border">
                  <div class = "news-image"><a href="blog-single.html"><img src={{ article.image_link }} alt="Image" class="img-fluid rounded mb-4"></a></div>
                <h4><a href={{ article.news_url }} class="text-black">{{article.news_title}}</a></h4>
                <div>{{article.published_date}} <span class="mx-2">|</span> <a href="#">2 Comments</a></div>
              </div>
              {% empty %}
              <div> 요청하신 Post가 없습니다. </div>
           {% endfor %}
        </div>
        <div class="row mt-5 align-self-center">
          {% include "blog/pagination.html" %}
        </div>

      </div>
    </section>

    <!-- {% if posts.has_previous %}
        <a href="?page1">처음</a>
        <a href="?page={{ posts.previous_page_number }}">이전</a>
    {% endif %}

    <span>{{ posts.number }}</span>
    <span>/</span>
    <span>{{ posts.paginator.num_page }}</span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">다음</a>
        <a href="?page={{ posts.paginator.num_page }}">마지막</a>
    {% endif %} -->

{% endblock %}