{% extends "blog/base.html" %}

{% block content %}

    <div>
        <h1><a href= "/"> 뉴스 </a></h1>
    </div>

    {% for article in posts %} 
        <div class="article">
            <div class="date">
                <p>Published: {{ article.published_date }}</p>
            </div>
            <h3><a href={{ article.news_url }}> {{article.news_title}} </a></h3>
        </div>
        {% empty %}
        <div> 요청하신 Post가 없습니다. </div>
    {% endfor %}

    <!-- {% if posts.has_previous %}
        <a href="?page1">처음</a>
        <a href="?page={{ posts.previous_page_number }}">이전</a>
    {% endif %}

    <span>{{ posts.number }}</span>
    <span>/</span>
    <span>{{ posts.paginator.num_page }}</span>

    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">다음</a>
        <a href="?page={{ posts.paginator.num_page }}">마지막</a>
    {% endif %} -->

    {% include "blog/pagination.html" %}

{% endblock %}