{% extends "blog/base.html" %}

<section class="site-section">
      <div class="container">
        {% block content %}
        {% if first %}
          <div class="row">
            <div class="shadow-sm col-4 mb-5 px-4 py-5 border">
                  <div class = ""><a href="blog-single.html"><img src={{ first.contest_image }} alt="Image" class="img-fluid rounded mb-4"></a></div>
                <h4><a href={{ first.contest_homepage }} class="text-black">{{first.contest_title}}</a></h4>
                <div>{{first.contest_period}} <span class="mx-2">|</span> <a href="#">{{first.contest_views}}</a></div>
            </div>
            <div class="shadow-sm col-4 mb-5 px-4 py-5 border">
                  <div class = "news-image"><a href="blog-single.html"><img src={{ second.contest_image }} alt="Image" class="img-fluid rounded mb-4"></a></div>
                <h4><a href={{ second.contest_homepage }} class="text-black">{{second.contest_title}}</a></h4>
                <div>{{second.contest_period}} <span class="mx-2">|</span> <a href="#">{{second.contest_views}}</a></div>
            </div>
            <div class="shadow-sm col-4 mb-5 px-4 py-5 border">
                  <div class = "news-image"><a href="blog-single.html"><img src={{ third.contest_image }} alt="Image" class="img-fluid rounded mb-4"></a></div>
                <h4><a href={{ third.contest_homepage }} class="text-black">{{third.contest_title}}</a></h4>
                <div>{{third.contest_period}} <span class="mx-2">|</span> <a href="#">{{third.contest_views}}</a></div>
            </div>
          </div>
        {% endif %}
            {% for contest in contests %}
                <ul class="job-listings mb-3">
                  <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">

                    <div class="job-listing-logo">
                      <img src={{ contest.contest_image }} class="img-fluid">
                   </div>

                    <div class="row job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                      <div class="col-6 job-listing-position custom-width w-50 mb-3 mb-sm-0">
                          <h2><a href="{{contest.contest_homepage}}">{{contest.contest_title}}</a></h2>
                      </div>

                      <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                        {{contest.contest_period}}
                      </div>
                      <form action = "{% url 'contest_like' contest.id %}" method = "POST">{% csrf_token %}
                        {% if user in contest.contest_likes.all %}
                          <button type="submit" class="btn">
                            <i class="fas fa-heart fa-lg" style="color:#ed4956;"></i>
                          </button>
                        <br>좋아요 {{ contest.contest_like_count }} 개
                        {% else %}
                          <button type="submit" class="btn">
                            <i class="far fa-heart fa-lg" style="color:#ed4956;"></i>
                          </button>
                        <br>좋아요 {{ contest.contest_like_count }} 개
                        {% endif %}
                      </form>
                    </div>

                  </li>
                </ul>
                {% empty %}
                <div> 요청하신 Post가 없습니다. </div>
            {% endfor %}
        {% endblock %}
      </div>
</section>