{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="mt-0 pl-5" id="profile">
      <h3>About us</h3>
      <hr class="mb-4">
      <div class="row">
        <figure class="col-4 mr-4 profile"><img src= "{% static 'images/uc0.jpg' %}" alt="Image" style="width: 200px; height: 200px;" class="img-fluid"></figure>
        <div class="col-6">
            <h3 class="row">유찬영🐭</h3>
            <span class="row position mt-4">Email: uchan01001@gmail.com</span>
            <span class="row position">핸드폰 번호: 010-4412-2162</span>
            <span class="row position">생년월일: 1996.10.01</span>
            <span class="row position">MBTI: INTP_논리적인 사색가</span>
            <span class="row position">자기소개:</span>
            <span class="row position">내 꿈은 컴퓨터로 지.구.정.복.🌍🔫</span>
        </div>
      </div>
          <hr class="mb-4">
      <div class="row">
        <figure class="col-4 mr-4 profile"><img src= "{% static 'images/zzerii.jpg' %}" alt="Image" style="width: 200px; height: 200px;" class="img-fluid"></figure>
        <div class="col-6">
            <h3 class="row">김채린🐧</h3>
            <span class="row position mt-4">Email: yuciee@naver.com</span>
            <span class="row position">핸드폰 번호: 010-6499-3790</span>
            <span class="row position">생년월일: 1997.11.07</span>
            <span class="row position">MBTI: ENTP_뜨거운 논쟁을 즐기는 변론가</span>
            <span class="row position">자기소개:</span>
            <span class="row position">앗 뜨거...! 나의 개발을 향한 🔥열정🔥에...데여버렸군.. 하핫..나의 실수..</span>
        </div>
      </div>
          <hr class="mb-4">
      <div class="row">
        <figure class="col-4 mr-4 profile"><img src= "{% static 'images/minji.jpg' %}" alt="Image" style="width: 200px; height: 200px;" class="img-fluid"></figure>
        <div class="col-6">
            <h3 class="row">김민지🐷</h3>
            <span class="row position mt-4">Email: kmj1995kr@gmail.com</span>
            <span class="row position">핸드폰 번호: 010-7135-5239</span>
            <span class="row position">생년월일: 1995.04.20</span>
            <span class="row position">MBTI: ESFJ_엄격한 관리자(admin)</span>
            <span class="row position">자기소개:</span>
            <span class="row position">러블리 MC 민지 drop the code yo~🌟</span>
        </div>
      </div>

{% endblock %}