{% extends "blog/base.html" %}
{% load static %}

{% block content %}

<!-- 내 정보 -->
<div class="row">
  <!-- 스크롤 가능한 사이드 바 -->
  <div class="col-lg-3 mr-auto">
    <div class="border p-4 rounded sticky-top" style="top:30px;">
      <ul class="list-unstyled block__47528 mb-0">
        <li><span class="active">Welcome {{ user.이름 }}!</span></li><br>
        <li><a href="#profile" class="smoothscroll">내 정보</a></li>
        <li><a href="{% url 'update' %}">내 정보 수정</a></li>
        <li><a href="#study" class="smoothscroll">내 스터디 관리</a></li>
        <li><a href="#liked_posts" class="smoothscroll">좋아요한 게시물</a></li>
      </ul>
    </div>
  </div>
  <div class="col-lg-9 mt-0 pl-5">
    <section id="my-info">
      <h3 id="profile">내 정보</h3>
      <hr class="mb-4">
      <div class="row">
        <figure class="col-2 mr-4 profile"><img src= "{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid rounded-circle"></figure>
        <div class="col-6">
            <h3 class="row">{{user.이름}}</h3>
            <span class="row position">{{user.username}}</span>
            <span class="row position mt-4">Email: {{user.email}}</span>
            <span class="row position">핸드폰 번호: 0{{user.휴대폰번호}}</span>
            <span class="row position">관심사: {{user.관심사1}}, {{user.관심사2}}</span>
        </div>
        <p><a href="{% url 'update' %}" class="btn btn-primary btn-md mt-4">내 정보 수정</a></p>
      </div>
    </section>

    <!-- 내 스터디 -->
    <section id="study" class="site-section services-section block__62849"> 
      <h3>내 스터디 관리</h3>
      <hr class="mb-4">
        <div class="row">
          {% for study in studies %}
          <div class="col-4 border border-white block__16443 bg-light">
              <div class="row pl-3"><h4>{{study.name}}</h4></div>
              <div class="row pl-3">장소: {{study.location}}</div>
              <div class="row pl-3">시간: {{study.time}}</div>
              <div class="row pl-3">스터디장: {{study.owner.이름}}</div>
              <div class="row pl-3">멤버수: {{study.members.all.count}}</div>
              <div class="row pl-3">
                  멤버:
                  {% for member in study.members.all %}
                      {{member.이름}}
                  {% endfor %}<br><br>
            </div>
              <div class="row">
                <div class="col"><a href="{% url 'room' study.id %}"><button type="button" class="btn btn-success">채팅하기</button></a></div>
                <div class="col"><a href="{% url 'cancel_study' study.id %}"><button type="button" class="btn btn-danger">나가기</button></a></div>
              </div>
          </div>
          {% endfor %}
        </div>
        <div class="row mt-3">
          <div class="col-11 offset-11"><a href="{% url 'my_study' %}">더보기>></a></div>
        </div>
    </section>

    <!-- 좋아요 한 게시물 -->
    <section id="liked_posts">
      <h3>좋아요 한 게시물</h3>
      <hr class="mb-4">

      <!-- 좋아요 한 뉴스 -->
      <section id="liked_news" class="liked_posts mb-5">
        <h5 class="liked_posts_title mb-3" style="color: #17a2b8;">내가 찜한 뉴스</h5>
        <hr class="mb-4">
        {% for article in articles %}
        <div class="row mb-3">
            <div class="shadow-sm col-2 mb-1 pt-4 px-2 py-2">
              <div class = "news-image">
                <a href={{ article.news_url }}>
                  <img src={{ article.image_link }} alt="Image" class="img-fluid rounded mb-4" style="width: 90%">
                </a>
              </div>
            </div>
            <div class="col-10 mb-1 pt-3 px-4 py-2">
              <h5><a href={{ article.news_url }} class="text-black">{{ article.news_title }}</a></h5>
              <div>{{article.published_date}}</div>
              <div>{{ article.news_text }}</div>
            </div>
        </div>
        {% endfor %}
        <div class="col-11 offset-11"><a href="{% url 'liked_articles' %}">더보기>></a></div>
      </section>

      <!-- 좋아요 한 채용공고 -->
      <section id="liked_jobs" class="liked_posts mb-5">
        <h5 class="liked_posts_title mb-3" style="color: #17a2b8;">내가 찜한 채용공고</h5>
        <hr class="mb-4">
        {% for job in jobs %}
            <hr>
            <div class="row">
                <div class="col-8">
                    <h4><a href="{{job.link}}">{{job.job_title}}</a></h4>
                </div>
                <div class="col-2">
                {{job.experience}} | {{job.edu_level}}
                </div>
            </div>
        {% endfor %}
        <div class="col-11 offset-11"><a href="{% url 'liked_jobs' %}">더보기>></a></div>
      </section>

      <!-- 좋아요 한 공모전 -->
      <section id="liked_contests" class="liked_posts mb-5">
        <h5 class="liked_posts_title mb-3" style="color: #17a2b8;">내가 찜한 공모전</h5>
        <hr class="mb-4">
        <div class="row">
          {% for contest in contests %}
              <div class = "col-4 justify-content-center">
                <div class="row">
                  <a href="portfolio-single.html" class="item-wrap">
                      <span class="icon-add"></span>
                      <img class="img-fluid mb-3" src={{ contest.contest_image }}>
                  </a>
                </div>
                <div class="row mb-4 pr-4">
                  <a href={{contest.contest_homepage}}><h5>{{ contest.contest_title}}</h5></a>
              </div>
              </div>
        {% endfor %}
        </div>
        <div class="col-11 offset-11"><a href="{% url 'liked_contests' %}">더보기>></a></div>
      </section>
    </section>
  </div>           
</div>

{% endblock %}