{% extends "blog/base.html" %}

{% block content %}
{% for study in studies %}
    이름: {{study.name}} <br>
    장소: {{study.location}} <br>
    시간: {{study.time}}<br>
    스터디장: {{study.owner}}<br>
    멤버수: {{study.members.all.count}}<br>
    {% for member in study.members.all %}
        멤버: {{member}}
    {% endfor %}
    {% if user.is_authenticated %}
        {% if user in study.members.all %}
            <a href="{% url 'cancel_study' study.id %}"> cancel </a>
        {% else %}
            <a href="{% url 'join_study' study.id %}"> join </a>
        {% endif %}
    {% endif %}
    <br>
    <hr>
{% endfor %}
{% endblock %}