{% extends "blog/base.html" %}

<section class="site-section">
      <div class="container">
        {% block content %}
            {% for job in jobs %}
                <ul class="job-listings mb-3">
                  <li class="job-listing d-block d-sm-flex pb-3 pb-sm-0 align-items-center">

                    <div class="job-listing-logo">
                      <img src="images/job_logo_1.jpg" alt="Free Website Template by Free-Template.co" class="img-fluid">
                    </div>

                    <div class="job-listing-about d-sm-flex custom-width w-100 justify-content-between mx-4">
                      <div class="job-listing-position custom-width w-50 mb-3 mb-sm-0">
                          <h2><a href="{{job.link}}">{{job.job_title}}</a></h2>
                      </div>

                      <div class="job-listing-location mb-3 mb-sm-0 custom-width w-25">
                        {{job.experience}}
                          {{job.edu_level}}
                      </div>
                      {% if "정규직" in job.type %}
                      <div class="job-listing-meta">
                        <span class="badge badge-success">정규직</span>
                      </div>
                      {% elif "프리랜서" in job.type %}
                      <div class="job-listing-info">
                        <span class="badge badge-info">프리랜서/계약직</span>
                      </div>
                      {% else %}
                      <div class="job-listing-info">
                        <span class="badge badge-danger">교육생/인턴</span>
                      </div>
                      {% endif %}
                    </div>
                  </li>
                </ul>
                {% empty %}
                <div> 요청하신 Post가 없습니다. </div>
            {% endfor %}
        {% endblock %}
      </div>
</section>