{% extends "blog/base.html" %}

{% block content %}
{% if user in study.members.all %}
<body>
    <div class = container>
       <div class="row">
            <div class="col-4">
                <div class="row mb-3 pl-3">
                    <div>
                        <h2>Study Introduction</h2>
                    </div>
                    <hr>
                    <p>
                        안녕하세요!<br>
                        Django Study 조장 {{study.owner.이름}}입니다.<br>
                        저희 모임은 django를 함께 공부하는 모임입니다.<br>
                        열심히 하실 분은 들어오세요~^^
                    </p>
                </div>
                <hr>
                <div class="row mb-3 pl-3">
                    <h2>Study Time</h2><br>
                    <hr>
                </div>
                <div class="row mb-5 pl-3">
                    <p><h5>{{ study.time }}</h5></p>
                </div>
                <hr>
                <div class="row mb-3 pl-3">
                    <h2>Study Location</h2><br>
                    <hr>
                </div>
                <div class="row mb-5 pl-3">
                    <p><h5>{{ study.location }}</h5></p>
                </div>
                <hr>
                <div class="row mb-3 pl-3">
                    <h2>Study Member ({{ study.members.all.count }})</h2><br>
                    <hr>
                </div>
                {% for member in study.members.all %}
                    <div class="row mb-3 pl-3" data-id="1">
                        {{member.이름}} ({{ member.username }})
                    </div>
                {% endfor %}
            </div>
            <div class="col-8 mb-5">
                <div class="chat-container border border-secondary">
                    <div id="chatWrap">
                        <div id="chatHeader">[{{ study.name }}] Chat Room</div>
                        <div id="chatLog"></div>
                        <div id="chatForm">
                            <input id="chat-message-input" type="text" autocomplete="off" size="30" placeholder="메시지를 입력하세요" class="pl-3">
                            <input id="chat-message-submit" type="submit" value="보내기">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
        <div>[{{ study.name }}]에 가입되지 않은 사용자 입니다 :)</div>
    {% endif %}

    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        var socketId = "";
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            var newDiv = document.createElement('div');
            var myStr = `<span class="msg">${data.message}</span>`
            var otherStr = `<span class="anotherName">${data.name}</span><span class="msg">${data.message}</span>`
            
            if(data.socketId === socketId){
                newDiv.innerHTML = myStr;
                newDiv.setAttribute("class", "myMsg")
                document.getElementById('chatLog').appendChild(newDiv);
            }
            else{
                newDiv.innerHTML = otherStr;
                newDiv.setAttribute("class", "anotherMsg msgEl")
                document.getElementById('chatLog').appendChild(newDiv);
            }
            socketId = ""
            document.getElementById('chatLog').scrollTop = document.getElementById('chatLog').scrollHeight;
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if(document.querySelector('#chat-message-input').value != ""){
                if (e.keyCode === 13) {  // enter, return
                    document.querySelector('#chat-message-submit').click();
                }
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            socketId = chatSocket.id
            if(message != ""){
                chatSocket.send(JSON.stringify({
                    'message': message,
                    "name": "{{ user.이름 }}"
                }));
            }
            messageInputDom.value = '';
        };
    </script>
    </div>
</body>
{% endblock %}