{% extends "blog/base.html" %}

{% block content %}
<div class="row ml-1" style="width: 110%; margin-top: 100px;">
    <div class="col-lg-2 mr-auto" style="margin-left: -150px;">
        <div class="border p-4 rounded sticky-top" style="top: 30px;">
          <ul class="list-unstyled block__47528 mb-0">
            <li><span class="active" style="font-weight: bold; color: black;">IT Trend</span></li><br>
            <li><a href="#Programming-Languages" class="smoothscroll">Programming Languages</a></li><br>
            <li><a href="#DataBases" class="smoothscroll">DataBases</a></li><br>
            <li><a href="#IDE" class="smoothscroll">IDE</a></li><br>
            <li><a href="#ML-Frameworks" class="smoothscroll">ML Frameworks</a></li><br>
            <li><a href="#Study-ML" class="smoothscroll">Study ML</a></li><br>
            <li><a href="#about-survey" class="smoothscroll">About Survey</a></li><br>
          </ul>
        </div>
    </div>
    <div class="col-lg-10 mt-0 pl-5">
        <div style="margin-left: -150px;">
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
            <h1 id="Programming-Languages">How About Programming Language?</h1>
            <div class="row pt-4 mb-5">
                <div class="col-6 mb-5 pt-4">
                    <h5>2019년 Data Science Platform인 Kaggle에서 19,717명의 Kaggler들을 대상으로 [정기적으로 사용하는 프로그래밍 언어는 무엇인가?]라는 질문에 설문 응답자 대부분은 [Python]을 선택하였습니다.
                        두번 째로 많이 사용되는 언어로 [R]이 선택되었습니다. <br><br>
                        반면, 가장 사용하지 않는 프로그래밍 언어 두가지로 [Javascript]와 [Typescript] 두 프로그래밍 언어가 선택되었습니다.<br><br><br>
                        
                        <div style="font-weight: bold;">[상위 두 개의 프로그래밍 언어 공식 홈페이지]</div>
                        <a href="https://www.python.org/">1. Python</a><br>
                        <a href="https://www.r-project.org/">2. R</a>
                        
                    </h5>
                </div>

                <div class="col-6 mt-3 mb-5" style="width:450px">
                    <canvas id="myChart_Programming_Language"></canvas>
                </div>
            </div>
            <hr>

            <h1 id="DataBases" class="mt-5">What kind of DB do you use?</h1>
            <div class="row pt-3 mb-5">
                <div class="col-12 mt-3 pt-3">
                    <h5>2019년 Kaggle에서 Kaggler들을 대상으로 [정기적으로 사용하는 관계형 데이터베이스는 무엇인가?]라는 질문에 가장 많은 수의 설문 응답자가 [MySQL]을 선택하였습니다.
                        두번 째로 많이 사용되는 관계형 데이터베이스로 [PostgreSQL]이 선택되었습니다. <br><br>
                        반면, 가장 사용하지 않는 관계형 데이터베이스 두가지로 [AWS DynamoDB]와 [Azure SQL Database] 두 데이터베이스가 선택되었습니다.<br><br><br>
                        <div style="font-weight: bold;">[상위 두 개의 관계형 데이터베이스 공식 홈페이지]</div>
                        <a href="https://www.mysql.com/">1. MySQL</a><br>
                        <a href="https://www.postgresql.org/">2. PostgreSQL</a>
                    </h5>
                </div>

                <div class="col-12 mt-3 mb-5" style="width:800px; height: 600px;">
                    <canvas id="myChart_DB"></canvas>
                </div>
            </div>
            <hr>

            <h1 id="IDE">Which of the following IDE do you use on a regular basis?</h1>
            <div class="row pt-3">
                <div class="col-12 mt-3 pt-3">
                    <h5>2019년 Kaggle에서 Kaggler들을 대상으로 [정기적으로 사용하는 IDE(Integrated Development Environment, 통합 개발 환경)는 무엇인가?]라는 질문에 가장 많은 수의 설문 응답자가 [Jupyter Notebook]을 선택하였습니다.
                        두번 째로 많이 사용되는 IDE로 [Visual Studio/visual Studio Code]가 선택되었습니다. <br><br>
                        반면, 가장 사용하지 않는 IDE 두가지로 [Atom]와 [Matlab] 두 IDE가 선택되었습니다.<br><br><br>
                        
                        <div style="font-weight: bold;">[상위 두 개의 IDE 공식 홈페이지]</div>
                        <a href="https://jupyter.org/">1. Jupyter Notebook</a><br>
                        <a href="https://visualstudio.microsoft.com/">2. Visual Studio/visual Studio Code</a>
                    </h5>
                </div>

                <div class="col-12 pt-3" style="width:1000px; height: 600px;">
                    <canvas id="myChart_IDE"></canvas>
                </div>
            </div>
            <hr>

            <h1 id="ML-Frameworks">How about ML Frameworks & Tools?</h1>
            <div class="row pt-5 mb-5">
                <div class="col-5 mt-5 pt-3">
                    <h5>2019년 Kaggle에서 Kaggler들을 대상으로 [정기적으로 사용하는 Machine Learning Framework는 무엇인가?]라는 질문에 가장 많은 수의 설문 응답자가 [Scikit-learn]을 선택하였습니다.
                        두번 째로 많이 사용되는 ML Framework로 [TensorFlow]가 선택되었습니다. 세 번째 ML Framework로 [Keras]가 2위인 [TensorFlow]와 비슷한 투표 수를 받았습니다.<br><br>
                        반면, 가장 사용하지 않는 ML Framework 두가지로 [Spark MLlib]와 [fast.ai] 두 ML Framework가 선택되었습니다.<br><br><br>
                        
                        <div style="font-weight: bold;">[상위 두 개의 IDE 공식 홈페이지]</div>
                        <a href="https://scikit-learn.org/">1. Scikit-learn</a><br>
                        <a href="https://www.tensorflow.org/">2. TensorFlow</a>
                    </h5>
                </div>

                <div class="col-7 mt-3 mb-5" style="width:600px; height: 600px;">
                    <canvas id="myChart_ML"></canvas>
                </div>
            </div>
            <hr>

            <h1 class="mt-5">Favorite Source to Study Machine Learning</h1>
            <div id="Study-ML" class="row pt-3 mb-5">
                <div class="col-12 mt-3 pt-3">
                    <h5>2019년 Kaggle에서 Kaggler들을 대상으로 [Data Science를 시작하고 배우는데 이용한 플랫폼은 무엇인가?]라고 물은 결과,<br>
                        가장 많은 수의 설문 응답자가 [Coursera]에서 Data Science를 학습하였다고 답하였습니다. 
                        두번 째로 많이 사용되는 학습 플랫폼으로 [Kaggle Courses]가 선택되었습니다.<br><br>
                        반면, 가장 사용하지 않는 학습 플랫폼 두가지로 [Data Quest]와 [LinkedIn Learning] 두 플랫폼이 선택되었습니다.<br><br><br>
                        
                        <div style="font-weight: bold;">[상위 두 개의 Data Science 학습 플랫폼 공식 홈페이지]</div>
                        <a href="https://www.coursera.org/">1. Coursera</a><br>
                        <a href="https://www.kaggle.com/learn/overview">2. Kaggle Courses</a>
                    </h5>
                </div>

                <div class="pt-3" style="width:100%; height: 700px;">
                    <canvas id="myChart_Study_ML"></canvas>
                </div>
            </div>
            <hr>

            
            <h3 class="mt-5">About Survey</h3>
            <div  id="about-survey"class="row mb-5">
                <div class="col-12 mt-3 pt-3">
                    <h5 style="color: darkgray; font-weight: bold;">
                        Kaggle의 2019년 기계 학습 및 데이터 과학 설문 조사와 설문 조사 데이터 과제에 오신 것을 환영합니다.

                        데이터 과학 및 머신 러닝 상태에 대한 진정으로 포괄적 인 견해를 제시하는 업계 전반의 설문 조사를 실시하기 시작했습니다. 
                        설문 조사는 2019년 10 월에 3 주 동안 진행되었으며 데이터를 정리 한 후 19,717 개의 응답 수로 완료되었습니다!
                        
                        결과에는 누가 데이터를 사용하고 있는지, 다양한 산업에서 머신 러닝에 무슨 일이 일어나고 있는지, 새로운 데이터 과학자가 현장에 뛰어들 수있는 가장 좋은 방법에 대한 원시 수치가 포함됩니다. 
                        익명화를 손상시키지 않고 가능한 한 원시 형식으로 데이터를 게시했습니다.<br><br><br>
                    </h5>
                    <h5 class="mb-5">
                        - 이 설문 조사에는 171 개 국가 및
                        지역 에서 19,717 명의 사용 가능한 응답자가 참여했습니다 .
                        응답자 가 50 명 미만인 국가 또는 지역의 경우
                        익명 성을 위해 "기타"라는 그룹으로 그룹화했습니다 .<br><br>
                        
                        - 설문 조사 시스템에서
                        "스팸" 으로 신고 된 응답자는 제외되었습니다 .<br><br>
                        
                        - 대부분의 응답자는 주로
                        이메일 목록, 토론 포럼 및 소셜 미디어 채널과 같은 Kaggle 채널을 통해 발견되었습니다 .<br><br>
                        
                        - 설문 조사는 2019년 10 월 8 일부터 10 월 28 일까지 진행되었습니다.
                        응답자가 해당 기간 동안 언제든지 설문 조사를 완료 할 수 있도록 허용 했습니다.<br>
                        설문에 참여한 사람들의 평균 응답 시간은
                        약 10 분이었습니다.<br><br>
                        
                        - 모든 응답자에게 모든 질문이 표시되는 것은 아닙니다.
                        Survey_schema.csv 파일에서 사용한 다양한 세그먼트에 대해 자세히 알아볼 수 있습니다 . 
                        일반적으로 경험이 많은 응답자는 더 많은 질문을 받았으며 경험이 적은 응답자는 적은 질문을 받았습니다.<br><br>
                        
                        - 응답자의 신원을 보호하기 위해 객관식
                        질문에 대한 답변은 개방형 답변 과 별도의 데이터 파일로 분리되었습니다 .
                        객관식 및 자유 형식 응답 을 일치시키는 키는 제공하지 않습니다 . 또한, 자유 형식 응답은 동일한 행에 나타나는 응답 이 반드시 동일한
                        설문 조사 참여자 로부터 온 것이 아니 도록 열 단위로 무작위 화되었습니다.<br><br>
                        
                        - 객관식 단일 응답 질문은 개별 열에 적합하지만 객관식 객관식 질문은 여러 열로 분할되었습니다. 사용자 개인 정보를 보호하기 위해 텍스트 응답이 인코딩되었으며 응답자가 50 명 미만인 국가는 "기타"범주로 분류되었습니다.<br><br><br>
                        
                        <a href="https://www.kaggle.com/learn/overview">2019 Kaggle ML & DS Survey</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // 우선 컨텍스트를 가져옵니다. 
    var ctx = document.getElementById("myChart_Programming_Language").getContext('2d');
    Chart.defaults.global.animation.duration = 5000;
    /*
    - Chart를 생성하면서, 
    - ctx를 첫번째 argument로 넘겨주고, 
    - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
    */
    var myChart_Programming_Language = new Chart(ctx, {
        type: 'pie',
        
        data: {
            labels: ["Python","R","SQL","C++","MATLAB","C","Other","Java","None","Javascript","Bash","TypeScript"],
            datasets: [{
                label: '# of Votes',
                data: [11316,1343,817,199,162,153,127,104,69,47,35,5],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(23, 159, 64, 0.2)',
                    'rgba(53, 6, 64, 0.2)',
                    'rgba(93, 159, 64, 0.2)',
                    'rgba(164, 25, 64, 0.2)',
                    'rgba(207, 82, 64, 0.2)',
                    'rgba(173, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(23, 159, 64, 1)',
                    'rgba(53, 6, 64, 1)',
                    'rgba(93, 159, 64, 1)',
                    'rgba(164, 25, 64, 1)',
                    'rgba(207, 82, 64, 1)',
                    'rgba(173, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
    </script>

    <script>
        // 우선 컨텍스트를 가져옵니다. 
        var ctx = document.getElementById("myChart_DB").getContext('2d');
        /*
        - Chart를 생성하면서, 
        - ctx를 첫번째 argument로 넘겨주고, 
        - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
        */
        var myChart_DB = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: ["MySQL","PostgresSQL","SQLite","Microsoft SQL Server","Oracle Database","Microsoft Access","AWS Relational Database Service","AWS DynamoDB","Azure SQL Database","Google Cloud SQL","None","Other"],
                datasets: [{
                    label: "# of Votes",
                    data: [3122,2160,1527,1852,1192,547,588,415,479,526,1245,287],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(23, 159, 64, 0.2)',
                        'rgba(53, 6, 64, 0.2)',
                        'rgba(93, 159, 64, 0.2)',
                        'rgba(164, 25, 64, 0.2)',
                        'rgba(207, 82, 64, 0.2)',
                        'rgba(173, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(23, 159, 64, 1)',
                        'rgba(53, 6, 64, 1)',
                        'rgba(93, 159, 64, 1)',
                        'rgba(164, 25, 64, 1)',
                        'rgba(207, 82, 64, 1)',
                        'rgba(173, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        // 우선 컨텍스트를 가져옵니다. 
        var ctx = document.getElementById("myChart_ML").getContext('2d');
        /*
        - Chart를 생성하면서, 
        - ctx를 첫번째 argument로 넘겨주고, 
        - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
        */
        var myChart_ML = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Scikit-learn ","TensorFlow ","Keras","RandomForest","Xgboost","PyTorch","Caret","LightGBM","Spark MLib","Fast.ai","None","Other"],
                datasets: [{
                    label: '# of Votes',
                    data: [9390,5822,5756,4524,4243,3412,1139,2166,910,949,1720,342],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(23, 159, 64, 0.2)',
                        'rgba(53, 6, 64, 0.2)',
                        'rgba(93, 159, 64, 0.2)',
                        'rgba(164, 25, 64, 0.2)',
                        'rgba(207, 82, 64, 0.2)',
                        'rgba(173, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(23, 159, 64, 1)',
                        'rgba(53, 6, 64, 1)',
                        'rgba(93, 159, 64, 1)',
                        'rgba(164, 25, 64, 1)',
                        'rgba(207, 82, 64, 1)',
                        'rgba(173, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                maintainAspectRatio: true, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>

    <script>
        // 우선 컨텍스트를 가져옵니다. 
        var ctx = document.getElementById("myChart_IDE").getContext('2d');
        /*
        - Chart를 생성하면서, 
        - ctx를 첫번째 argument로 넘겨주고, 
        - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
        */
        var myChart_IDE = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Jupyter (JupyterLab, Jupyter Notebooks, etc)", "RStudio", "PyCharm", "Atom", "MATLAB", "Visual Studio \/ Visual Studio Code", "Spyder", "Vim \/ Emacs", "Notepad++", "Sublime Text", "None", "Other"],
                datasets: [{
                    label: '# of Votes',
                    data: [10804,4455,4224,1487,1768,4534,3085,1782,3281,2655,238,691],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)',
                        'rgba(23, 159, 64, 0.2)',
                        'rgba(53, 6, 64, 0.2)',
                        'rgba(93, 159, 64, 0.2)',
                        'rgba(164, 25, 64, 0.2)',
                        'rgba(207, 82, 64, 0.2)',
                        'rgba(173, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255,99,132,1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)',
                        'rgba(23, 159, 64, 1)',
                        'rgba(53, 6, 64, 1)',
                        'rgba(93, 159, 64, 1)',
                        'rgba(164, 25, 64, 1)',
                        'rgba(207, 82, 64, 1)',
                        'rgba(173, 159, 64, 1)'
                    ],
                    borderWidth: 2
                }]
            },
            options: {
                maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        });
    </script>

<script>
    // 우선 컨텍스트를 가져옵니다. 
    var ctx = document.getElementById("myChart_Study_ML").getContext('2d');
    /*
    - Chart를 생성하면서, 
    - ctx를 첫번째 argument로 넘겨주고, 
    - 두번째 argument로 그림을 그릴때 필요한 요소들을 모두 넘겨줍니다. 
    */
    var myChart_Study_ML = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ["Udacity","Coursera","edX","DataCamp","DataQuest","Kaggle Courses (i.e. Kaggle Learn)","Fast.ai","Udemy","LinkedIn Learning","University Courses (resulting in a university degree)","None","Other"],
            datasets: [{
                label: '# of Votes',
                data: [2953,8685,3150,3843,743,5119,1520,4804,1283,4478,1491,1872],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(23, 159, 64, 0.2)',
                    'rgba(53, 6, 64, 0.2)',
                    'rgba(93, 159, 64, 0.2)',
                    'rgba(164, 25, 64, 0.2)',
                    'rgba(207, 82, 64, 0.2)',
                    'rgba(173, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(23, 159, 64, 1)',
                    'rgba(53, 6, 64, 1)',
                    'rgba(93, 159, 64, 1)',
                    'rgba(164, 25, 64, 1)',
                    'rgba(207, 82, 64, 1)',
                    'rgba(173, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            maintainAspectRatio: false, // default value. false일 경우 포함된 div의 크기에 맞춰서 그려짐.
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    });
</script>
{% endblock %}